@tailwind base;
@tailwind components;
@tailwind utilities;


.donate-btn::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 9999px;
    transition: 1s;
    box-shadow: 0 0 30px 15px #6c4cfb;
    opacity: 0;
}

.donate-btn:active::after {
    opacity: 1;
    transition: 0s;
    box-shadow: 0 0 0 0 #ffdc84;
}
